.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 6px 35px;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  &:hover,
  &--hover{

  }

  &:active,
  &__active{

  }

  &--gray{
    background: #83959a;
    box-shadow: inset 0 -2px 0 #727f82;

    &:hover,
    &--hover{
      background: #7BA8B5;
    }

    &:active,
    &__active{
      box-shadow: none;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 2px;
    }
  }

  &--orange{
    background: #f1832b;
    box-shadow: inset 0 -2px 0 #b65e18;
    border: none;
    padding: 6px 17px;

    &:hover,
    &--hover{
      background: #FFA257;
    }

    &:active,
    &__active{
      box-shadow: none;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 2px;
    }
  }
}
