body{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #83959a;
}

h1{

}

h2{

}

h3{

}

h4{

}

p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a{

  &:hover{

  }
}

ul{
    li{

    }
}

table{
  td{

  }
}
