input[type='text'],
textarea,
select,
input[type='password']{ /* поля */
  box-sizing: border-box;
  outline: none;
  width: 360px;
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 9px 12px;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  border-radius: 5px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  margin: 0 auto 13px;
  box-shadow: none;

  &:focus{
    background: #fff;
  }
}

label{
  cursor: pointer;
}

button{
  cursor: pointer;
  outline: none;
}
