.features{
  padding: 45px 0 50px;

  &__wrapper{
    text-align: center;
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    color: #1d1d1d;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
  }
}

.feature-item{
  display: inline-block;
  vertical-align: top;
  width: 265px;
  text-align: center;

  &__image{
    height: 112px;
    margin-bottom: 30px;
  }

  &__title{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
    color: #1d1d1d;
  }

  &__text{
    font-size: 15px;
    line-height: 18px;
    color: #1d1d1d;

    a{
      color: #1d1d1d;
    }
  }

  &:nth-child(2){
    margin: 0 70px;

    img{
      margin-top: 35px;
    }
  }

  &:nth-child(3){
    img{
      margin-top: 25px;
    }
  }
}
