/*
  Author: Sergey Popov.
  Version: 1.1.
  Last version date: 18.05.2015.
  Author URI: http://ourworkspace.ru
  Author social: https://vk.com/sergeytovarov
  Author email: tovarov.piter@gmail.com
  From Saint-Petersburg with love
*/

/* фундамент */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}


pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
  resize: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* переменные всех вкусов и сортов */

/*$width: 200px;*/
/* определение миксина */
/*@define-mixin icon $network, $color: blue {
    .icon.is-$(network) {
        color: $color;
        @mixin-content;
        backgroun-position: 100%;
    }
    .icon.is-$(network):hover {
        color: white;
        background: $color;
    }
}


/* применение миксинов */
/*@mixin icon twitter {
    background: url(twt.png);
}
@mixin icon youtube, red {
    background: url(youtube.png);
}*/

/* база */
body{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #83959a;
}

h1{

}

h2{

}

h3{

}

h4{

}

p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a:hover{

}

ul li{

}

table td{

} /* половина отступа между колонками */

.row{ /* строка */
}

.row__inline{/* модифкатор для строки с inline-block */
  font-size: 0;
}

.row__inline>.col{
  display: inline-block;
  vertical-align: top;
  float: none;
}

.row__inline>.col:first-child{
  padding: 0 10px;
}

.row__inline>.col:last-child{
  padding: 0 10px;
}

.row__inline:after{
  display: none;
}

.row .col{/* стили колонок */
}

.row .col:first-child{
  padding-left: 0px;
}

.row .col:last-child{
  padding-right: 0px;
}

.row .col--single{/* модификатор для колонки, которая идет одна */
  margin: 0 auto;
  float: none;
}

.row:after, .row:before{
  content: "";
  display: table;
}

.row:after{
  clear: both;
}

.col{
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  min-height: 1px;
}

.s-1{
  width: 8.33%;
}
.s-2{
  width: 16.66%;
}
.s-3{
  width: 25%;
}
.s-4{
  width: 33.33%;
}
.s-5{
  width: 41.66%;
}
.s-6{
  width: 50%;
}
.s-7{
  width: 58.33%;
}
.s-8{
  width: 66.66%;
}
.s-9{
  width: 75%;
}
.s-10{
  width: 83.11%;
}
.s-11{
  width: 91.66%;
}
.s-12{
  width: 100%;
}
.s-20{
  width: 20%;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.to-left{
  float: left;
}

.to-right{
  float: right;
}
.btn{
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 6px 35px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;
}
.btn:hover, .btn--hover{

}
.btn:active, .btn__active{

}
.btn--gray{
  background: #83959a;
  -webkit-box-shadow: inset 0 -2px 0 #727f82;
          box-shadow: inset 0 -2px 0 #727f82;
}
.btn--gray:hover, .btn--gray--hover{
  background: #7BA8B5;
}
.btn--gray:active, .btn--gray__active{
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
}
.btn--orange{
  background: #f1832b;
  -webkit-box-shadow: inset 0 -2px 0 #b65e18;
          box-shadow: inset 0 -2px 0 #b65e18;
  border: none;
  padding: 6px 17px;
}
.btn--orange:hover, .btn--orange--hover{
  background: #FFA257;
}
.btn--orange:active, .btn--orange__active{
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
}
input[type='text'],
textarea,
select,
input[type='password']{ /* поля */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 360px;
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 9px 12px;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  margin: 0 auto 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input[type='text']:focus, textarea:focus, select:focus, input[type='password']:focus{
  background: #fff;
}

label{
  cursor: pointer;
}

button{
  cursor: pointer;
  outline: none;
}
table{}

/* проект */
body{
  min-width: 1024px;
}

.container{
  width: 1024px;
  margin: 0 auto;
}
/*header*/
.header{
  min-height: 680px;
  padding-bottom: 50px;
  background: url("../img/bg-header.jpg") no-repeat center top;
  background-size: cover;
}
.header__top{
  padding-top: 20px;
  margin-bottom: 135px;
}

/*logo*/
.logo{
  margin-left: 30px;
  float: left;
}
.logo img{
  width: 200px;
  height: 40px;
}

/* navigation */
.navigation{
  float: right;
  margin-right: 30px;
  margin-top: 4px;
}
.navigation__list{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.navigation__item{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 21px;
  margin-right: 50px;
  color: #fff;
}
.navigation__item:last-child{
  margin-right: 0;
}
.navigation__link{
  text-decoration: none;
  color: #fff;
}
.navigation__link:hover{
  text-decoration: underline;
  opacity: .8;
}
.navigation__link:active{
  opacity: .5;
}

/* promo */
.promo{
  width: 480px;
  margin-left: 490px;
}
.promo__text{
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
}

.main-title{
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}
.footer{
  padding: 20px 0 25px;
  background: #83959a;
}
.footer__logo{
  display: block;
  float: right;
  margin-right: 30px;
}

.footer-navigation{
  float: left;
  margin: 20px 0 0 30px;
  width: 820px;
}

.footer-navigation__list{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer-navigation__item{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #3a494b;
  margin-right: 25px;
}

.footer-navigation__item:last-child{
  margin-right: 0;
}

.footer-navigation__link{
  color: #3a494b;
  text-decoration: none;
}

.footer-navigation__link:hover{
  text-decoration: underline;
}

.footer-navigation__link:active{
  text-decoration: underline;
  opacity: .8;
}
/* блок преимуществ */
.features{
  padding: 45px 0 50px;
}
.features__wrapper{
  text-align: center;
}
.features__title{
  font-size: 24px;
  line-height: 32px;
  color: #1d1d1d;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
}

.feature-item{
  display: inline-block;
  vertical-align: top;
  width: 265px;
  text-align: center;
}

.feature-item__image{
  height: 112px;
  margin-bottom: 30px;
}

.feature-item__title{
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 22px;
  color: #1d1d1d;
}

.feature-item__text{
  font-size: 15px;
  line-height: 18px;
  color: #1d1d1d;
}

.feature-item__text a{
  color: #1d1d1d;
}

.feature-item:nth-child(2){
  margin: 0 70px;
}

.feature-item:nth-child(2) img{
  margin-top: 35px;
}

.feature-item:nth-child(3) img{
  margin-top: 25px;
}

/* партнер */
.partner{
  background: #3a494b;
  padding: 29px 0;
}
.partner__text{
  display: block;
  float: left;
  margin-left: 55px;
  font-size: 30px;
  line-height: 50px;
  color: #83959a;
}
.partner__text img{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.partner__slogan{
  width: 300px;
  float: right;
  margin-right: 175px;
  font-size: 18px;
  line-height: 22px;
  color: #83959a;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #83959a;
}

/* feedback */
.feedback{
  text-align: center;
  padding-top: 20px;
}
.feedback__title{
  font-size: 24px;
  line-height: 30px;
  color: #1d1d1d;
  margin-bottom: 15px;
}
.feedback__text{
  font-size: 16px;
  line-height: 20px;
  color: #83959a;
  margin-bottom: 22px;
}

.feedback-form{
  width: 627px;
  height: 560px;
  background: url("../img/bg-conver.png") no-repeat center top;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 94px 0 94px;
  overflow: hidden;
  height: 485px;
  margin: 0 auto;
}

.feedback-form__title{
  font-size: 15px;
  line-height: 19px;
  color: #83959a;
  margin-bottom: 40px;
}

/* контекст */
@media (max-width: 1100px) {



}
